.par{
    color: blue;
}
.greenfou{
    color: green;
}
#med{
    color: yellow;
}
.textcolor{
    color: blue;
}
.bg{
    background-color: #f0f0f0;
}
.textposition{
    padding-top: 200;
}
.position{
    padding-left: 150;
}
.formstyle{
    background-color: white; 
    width: 70%;
    height: 70%;
    margin-top: 120;
    padding: 5% 5% 5% 5%;
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.192) -10px 10px 10px;
}
.form-control{
    margin-bottom: 20px;
}
.btn{
    width: 100%;
    margin-bottom: 15px;
}
a{
 margin-left: 30%;
}
.btnPosition{
    width: 50%;
    margin-left:25%;
}